[submodule "build/percona-xtrabackup"]
	path = build/percona-xtrabackup
	url = https://github.com/taku-k/percona-xtrabackup
[submodule "build/boost"]
	path = build/boost
	url = https://github.com/boostorg/boost
