[submodule "percona-xtrabackup"]
	path = percona-xtrabackup
	url = https://github.com/percona/percona-xtrabackup
[submodule "build/percona-xtrabackup"]
	path = build/percona-xtrabackup
	url = https://github.com/percona/percona-xtrabackup
